h2{
  color: rgb(255, 255, 255);
}
.form-group{
  display: flex;
  justify-content: center;
  
}
ul{
  list-style: none;
}
a{
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}